@import url("https://googleapis.com");
@import "tailwindcss";

* {@apply font-roboto select-none;}
html, body, #root {@apply h-full;}
#root {@apply flex w-full bg-gray-100;}
.clex {@apply flex flex-col items-center justify-center}
.rlex {@apply flex flex-row items-center justify-center}

.content {
    @apply grid h-full w-full p-3.5 gap-3.5;
    grid-template-areas:
        "one    .       two     two"
        "three  four    five    five"
        "six    four    five    five"
        "seven  eight   eight   nine";
    grid-template-rows: 5.5% 52.9% 26%;
    grid-template-columns: 42.6% 13% 4.8%;
    font-weight: 600;
}

.content {
    grid-template-rows: 4.3% 52% 25%;
    grid-template-columns: 42.6% 12% 4.8%;
}

.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}

@theme {
    /* background  */
    --color-menu: #071f3b;
    --color-info: #f4f9fe;


    /* item colors */
    --color-ipurple-light: #e9ecfe;
    --color-igreen-light: #e7f7f4;
    --color-iorange-light: #fef5e5;
    --color-iblue-light: #edf5fd;
    --color-ired-light: #fee9e6;
    --color-ibrown-light: #f8f4ef;
    --color-igrey-light: #f7f7f5;
    --color-iash-light: #f1f7fd;

    --color-ipurple: #2b21f3;
    --color-igreen: #3da081;
    --color-iorange: #fc9912;
    --color-iblue: #bdc2c9;
    --color-ired: #ca2d03;
    --color-ibrown: #6c4625;
    --color-igrey: #c3c3c2;
    --color-iash: #b5b7b9;

    --color-bviolet0: #aa9aed;
    --color-bviolet1: #5d55bf;
    --color-bviolet2: #795ed9;
    --color-bviolet3: #8e56ed;
    --color-bviolet4: #5d0ec0;
    
    
    /* gradients  */
    --background-image-gpurple: linear-gradient(90deg, hsla(240, 87%, 54%, 1) 0%, hsla(258, 81%, 59%, 1) 100%);
    --background-image-gpurple-reverse: linear-gradient(270deg, hsla(240, 87%, 54%, 1) 0%, hsla(258, 81%, 59%, 1) 100%);
    --background-image-gviolet: linear-gradient(90deg, hsla(244, 46%, 54%, 1) 0%, hsla(264, 82%, 64%, 1) 100%);
    --background-image-ggreen: linear-gradient(90deg, hsla(175, 59%, 42%, 1) 0%, hsla(175, 77%, 35%, 1) 100%);
    --background-image-gorange: linear-gradient(90deg, hsla(33, 100%, 66%, 1) 0%, hsla(30, 100%, 58%, 1) 100%);
    --background-image-gorange: linear-gradient(90deg, hsla(33, 100%, 66%, 1) 0%, hsla(30, 100%, 58%, 1) 100%);
    --background-image-search: url(/public/assets/search.png);
    --background-image-barcode: url(/public/assets/barcode.png);

    /* font */
    --font-roboto: "Roboto", sans-serif;
    --font-noto: "Noto Sans SC", sans-serif;

    /* text */
    --text-ss-70: 0.70rem;
    --text-ss-65: 0.65rem;
    --text-ss-60: 0.60rem;
    --text-ss-55: 0.55rem;
    --text-ss-50: 0.50rem;
    --text-ss-45: 0.45rem;
    --text-ss-40: 0.40rem;
    --text-ss-35: 0.35rem;
    --text-ss-30: 0.30rem;
    --text-ss-25: 0.25rem;
    --text-ss-20: 0.20rem;
}