/* *,
*::after,
*::before {
    box-sizing: border-box;
} */

:root {
    /* colors */
    --cwhite: #FFFFFF;
    --cblack: #000000;
    --cgrey: hsl(226, 14%, 65%);
    --cgreydark: hsl(226, 14%, 55%);
    --cgreydarkdark: hsl(226, 14%, 35%);
    --cwhite-pale: hsl(240, 71%, 99%);
    --cwhite-pale: hsl(240, 71%, 98.5%);
    --cvoilet: hsl(239, 66%, 54%);
    --cpurple: hsl(255, 72%, 55%);
    --cpurple-pale: hsl(244, 43%, 57%);
    --cpurple-dark: hsl(248, 57%, 47%);
    --cviolet-pale: hsl(267, 81%, 71%);
    --cgreen: hsl(168, 33%, 49%);
    --ctorquise: hsl(173, 45%, 36%);
    --corange: hsl(36, 99%, 70%);
    --corange-pale: hsl(35, 99%, 60%);
    --cblue: hsl(225, 43%, 16%);
    --cblue-pale: hsl(215, 76%, 95%);
    --clogo: hsl(258, 77%, 66%);
    --cmenu: hsl(224, 47%, 11%);
    --cmenu-pale: hsl(228, 33%, 21%);
    --cborder: hsla(226, 14%, 75%, 0.1);
    --cborderdark: hsla(226, 14%, 75%, 0.4);

    /* sizes */
    --fih0: clamp(1.67rem, 2.04vw, 2.05rem);
    --fh0: clamp(1.27rem, 2.04vw, 1.95rem);
    --fh1: clamp(1.27rem, 1.34vw, 1.67rem);
    --fh2: clamp(0.85rem, 0.9vw, 1.25rem);
    --fh3: clamp(0.65rem, 0.82vw, 1.25rem);
    --fh4: clamp(0.5rem, 1vw, 0.82rem);
    --fh5: clamp(0.4rem, max(calc(100vh - 700px) * 0.05, calc(100vw - 800px) * 0.05), 0.62rem);
    --ficons: clamp(0.6rem, calc(100vw - 700px) * 0.5, 1rem);
    --p1: 8px;
    --p2: 16px;
    --p3: 32px;
    --p4: 64px;

    /* global settings */
    --background: var(--cwhite);
    --card-background: var(--cwhite-pale);
    --test-background: salmon;
    --slight: 0px 0px 8px -4px hsla(0, 0%, 0%, 0.05);
    --smid: 0px 0px 8px -4px hsla(0, 0%, 0%, 0.1);
    --smiddark: 0px 0px 1px 0px hsla(0, 0%, 0%, 0.2);
    --sdark: 0px 0px 8px -4px hsla(0, 0%, 0%, 0.5);
    --card-radius: 8px;
    --button-radius: 4px;
}

/* #root {
  display: flex;
  width: 100%;
  height: 100%;
} */

/* html,
body {
    height: 100%;
    width: 100%;
} */

/* body {
    background: var(--card-background);
    display: flex;
} */


body>* {
    /* font-family: "Roboto", sans-serif; */
    /* font-optical-sizing: auto; */
    /* font-weight: 500; */
    /* font-style: normal; */
    /* font-variation-settings: "wdth" 100; */
    /* cursor: pointer; */
    /* user-select: none; */
}

/* .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 0%;
    opacity: 50%;
    display: none;
} */

/* .menu {
    background-color: var(--cmenu);
    background: hsla(224, 46%, 11%, 1);
    background: linear-gradient(90deg, hsla(224, 46%, 11%, 1) 0%, hsla(228, 33%, 21%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(224, 46%, 11%, 1) 0%, hsla(228, 33%, 21%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(224, 46%, 11%, 1) 0%, hsla(228, 33%, 21%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0F1629", endColorstr="#242B47", GradientType=1 );
    height: 100%;
    width: 40%;
    max-width: 480px;
    padding: 0.65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* .menu > * {
    font-size: var(--fh2);
} */

/* .names {
    display: flex;
    flex-direction: column;
} */

/* .appinfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    aspect-ratio: 1/0.78;
} */

.icon.appicon {
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    color: var(--cwhite);
    background-color: var(--clogo);
    border-radius: 50%;
    padding: 12px;
}

.appname {
    color: white;
}

.appname.userrole {
    color: var(--cgrey);
    font-size: var(--fh3);
}

.material-symbols-outlined.userrole-symbol {
    color: var(--cwhite);
    font-size: clamp(0.9rem, clamp(0.5rem, 1vw, 0.75rem), 0.65rem);
}

.userprof {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/0.54;
    gap: 8px;
    padding: 4.8px;
}

.usericon {
    background-color: var(--cpurple);
    border-radius: 50%;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.userprof .names .appname {
    font-size: var(--fh3);
}

.userprof .names .appname.userrole {
    font-size: var(--fh5);
}

.bar {
    width: 71%;
    height: clamp(1rem, 100%, 2.4rem);
    border: 0px;
    border-radius: 8px;
    /* padding: 10px; */
    background: url(/assets/search.png) no-repeat scroll 14px 0px;
    background-color: var(--cwhite);
    background-size: 1.3rem;
    background-position-y: center;
    padding-left: 42px;
    color: var(--cblack);
    box-shadow: var(--smid);
    font-size: var(--fh3);
    max-height: clamp(28px, 3vw, 38px);
}

/* .options {
    width: 100%;
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    overflow-y: scroll;
    text-wrap-mode: nowrap;
    scrollbar-width: none;
    color: var(--cgrey);
    gap: 5.8px;
    padding-top: 12.5%;
} */

/* .options > .option > .opname {
    font-size: var(--fh3);
} */

/* .option-select {
    color: white;
    background: hsla(236, 62%, 50%, 1);
    background: linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -webkit-linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#303ace", endColorstr="#6D40DF", GradientType=1 );
} */

.option {
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    padding: 11.5px;
    width: 100%;
    height: 6%;
}

/* .option>.symbol {
    font-size: calc(var(--fh3) + 0.5rem);
    padding: 1px;
} */

.content-area {
    display: flex;
    flex-grow: 1;
    position: relative;
}

.content {
    background-color: var(--cwhite-pale);
    display: grid;
    grid-template-areas:
        "one    one     two     two"
        "three  four    five    five"
        "six    four    five    five"
        "seven  eight   eight   nine";
    grid-template-rows: 5.5% 52.9% 26% 11.2%;
    grid-template-columns: 42.6% 13% 4.8%;
    gap: 0.8%;
    height: 100%;
    width: 100%;
    font-weight: 600;
    padding: 16px;
}

.content span.material-symbols-outlined {
    font-size: var(--ficons);
}

.popup {
    position: absolute;
    background-color: var(--cwhite);
    box-shadow: 0 0 4px 4px var(--cborderdark);
    height: 8%;
    aspect-ratio: 16/4;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;
    border-radius: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    opacity: 0%;
}
.align-popup {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    height: 100%;
}
.popup .success-symbol {
    background-color: green;
    color: white;
    border-radius: 50%;
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup .popup-message {
    color: var(--cblack);
    flex-grow: 1;
    text-align: center;
    font-size: var(--fh3);
}

.popup-error .success-symbol {
    background-color: red;
}

.a-inout {
    animation-name: inout;
    animation-duration: 3s;
    animation-play-state: running;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes inout {
    0% {
        opacity: 0%;
        height: 6%;
    }
    25% {
        opacity: 100%;
        height: 8%;
    }
    75% {
        opacity: 100%;
        height: 8%;
    }
    100% {
        opacity: 100%;
        height: 8%;
    }
} 


.a-expand {
    animation-name: expand;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
}

@keyframes expand {
    0% {
        height: 6%;
    }
    25% {
        height: 8%;
    }
    75% {
        height: 6%;
    }
    100% {
        height: 8%;
    }
} 


.save-bill {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 20%, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-bill-menu {
    height: 35%;
    width: auto;
    aspect-ratio: 5/3;
    background-color: var(--cwhite);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-save-bill-menu {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.align-customer-date {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.save-customer ,.save-date {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.save-title {
    font-size: var(--fh1);
}

.save-customer-text, .save-date-text {
    width: 90%;
}

#customer-name, #bill-date {
    padding: 3%;
    border-radius: var(--button-radius);
    border: 1px solid var(--cgreydark);
}

.save-bill-action {
    padding: 2%;
    border-radius: var(--button-radius);
    aspect-ratio: 3/1;
    text-align: center;
}

.card {
    background-color: var(--cwhite);
    font-size: 1.2vw;
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    overflow: hidden;
    /* height: 100%; */
    scrollbar-width: none;
}

.grid-total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border-radius: var(--card-radius);
}

.grid-bill {
    overflow-y: scroll;
    padding: 3%;
}

.billtitle, .totalamount  {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
    font-size: var(--fh1);
}

.billtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.billtitle > .more-symbol {
    font-size: var(--fh1);
    color: var(--cgrey);
}

.totalamount {
    margin-left: 19.8%;
}

.aligntotal {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.amounttitle {
    font-size: var(--fh3);
    padding-right: 1.2%;
}
.amount {
    color: var(--cpurple-dark);
    font-size: clamp(1.7rem, 1.7vw, 2.1rem);
    height: fit-content;
}

.one, .two {
    box-shadow: 0px 0px 0px 0px transparent;
    background: var(--cwhite-pale);
}

.one {
    grid-area: one;
    overflow: visible;
}
.two {
    grid-area: two;
}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}

.search {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 4.2%;
    padding: 0px 3%;
}

.changelayout {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layoutgrid, .layoutlist {
    width: auto;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1.15/1;
    border-radius: var(--button-radius);
    box-shadow: var(--smid);
    background-color: var(--cwhite);
}

.layoutgrid > span, .layoutlist > span {
    font-size: clamp(0.7rem, 2.4vh, 2rem);
}

.changelayout > .symbol {
    background-color: var(--cwhite);
}

/* table>* {
    border-collapse: collapse;
} */

/* table {
    width: 98.8%;
    height: auto;
    text-align: center;
    border-radius: var(--card-radius);
    margin-top: 1%;
} */

/* thead {
    border-radius: var(--button-radius);
    font-size: var(--fh3);
} */

/* th, td {
    padding: 7.5px;
    font-size: var(--fh3);
    width: 100%;
    height: fit-content;
    border: 1px solid red;
} */

/* th, tr, thead, tbody, table {
    border-collapse: collapse;
    border: 2px solid var(--cborder);
    box-shadow: var(--cborder);
    background: var(--cwhite);
} */

.alignnames {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    padding-left: 4px;
    width: 90%;
    text-align: left;
}

.aligncount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

span.item-symbol {
    background-color: hsl(245, 86%, 94%);
    padding: 6px;
    font-size: var(--fh1);
    border-radius: var(--button-radius);
}

img.item-symbol {
    background-color: hsl(245, 86%, 94%);
    padding: 6px;
    font-size: var(--fh1);
    border-radius: var(--button-radius);
    height: 32px;
    aspect-ratio: 1/1;
}
tbody > tr > td:nth-child(2) {
    width: 13%;
    text-align: center;
    vertical-align: middle;
}

.bill-item-count {
    display: flex;
    width: 90%;
    max-width: 45px;
    aspect-ratio: 1.5/1;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    /* border: 1px solid var(--cborder); */
    /* box-shadow: var(--smiddark); */
    /* font-size: var(--fh5); */
}

/* .bill-item-count::-webkit-inner-spin-button,
.bill-item-count::-webkit-outer-spin-button,
.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

/* 
span.delete-symbol {
    font-size: var(--fh2);
} */
/* 
.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2.5%;
    background: hsl(216, 71%, 99%);
    color: var(--cgrey);
    padding: 2.5% 4.1%;
    border-radius: var(
    --button-radius);
} */

/* .info > .info-symbol {
    color: var(--cvoilet);
    font-size: clamp(1.3rem, 1.3vw, 3rem);
} */

/* .info > .infotext {
    font-size: var(--fh5);
    line-height: 16.5px;
    letter-spacing: 0.2px;
} */


.types-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    color: var(--cblack);
    padding: clamp(1px, calc((100vw - 1000px) * 0.05), 23px);
    font-size: var(--fh4);
    position: relative;
    /* margin-left: 10px; */
    height: 100%;
    row-gap: clamp(0px, calc((100vh - 700px) * 0.05), 14px);
}

.option-type {
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    padding: 7.5%;
}

.option-type>.symbol {
    font-size: calc(var(--fh3) + 1rem);
    padding: 1px;
}

.types-options > .separator {
    width: 100%;
    height: 1px;
    background-color: var(--cborder);
}

.grid-items {
    position: relative;
    overflow-y: scroll;
}

#items-nextpage {
    width: 17%;
    height: 10px;
    position: absolute;
    margin: 8px 0px;
    bottom: 0;
    left: 38%;
    bottom: 4.6%;
    border: 0;
    border-bottom: clamp(1px, 0.8vw, 10px) solid var(--cgrey);
    border-style: dotted;
    z-index: 2;
}

#items-hideoverflow {
    width: 100%;
    height: var(--grid-page-height, 27.5%);
    position: absolute;
    margin: 0px;
    left: 0;
    bottom: -10px;
    /* border: 1px solid var(--cgrey); */
    z-index: 1;
    background-color: white;
}

/* .grid-items::after {
    content: "";
    width: 17%;
    height: 10px;
    position: absolute;
    margin: 8px 0px;
    bottom: 0;
    left: 38%;
    bottom: 4.6%;
    border: 0;
    border-bottom: clamp(1px, 0.8vw, 10px) solid var(--cgrey);
    border-style: dotted;
    z-index: 2;
}

.grid-items::before {
    content: "";
    width: 100%;
    height: var(--grid-page-height, 27.5%);
    position: absolute;
    margin: 0px;
    left: 0;
    bottom: -10px;
    border: 1px solid var(--cgrey);
    z-index: 1;
    background-color: white;
} */

.items-options {
    /* position: relative; */
    /* width: 100%; */
    /* display: grid; */
    /* gap: 10px; */
    /* overflow-y: scroll; */
    /* scrollbar-width: none; */
    /* color: var(--cblack); */
    /* padding: 5% 2%; */
    /* font-size: var(--fh4); */
    /* grid-template-columns: repeat(auto-fit, 130px); */
    /* justify-content: center; */
}

.option-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    gap: 5px;
    padding: 8px;
    aspect-ratio: 1/0.9;
    border: 1px solid var(--cborder);
    position: relative;
}

.option-item>.symbol {
    font-size: clamp(4rem, 3vw ,4rem);
    padding: 1px;
}

.option-item-select {
    box-shadow: var(--smiddark);
    border: 1px solid var(--cborder);
}

.option-item-select::after {
    content: attr(data-inventory-count raw-string, "1");
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--cvoilet);
    color: white;
    border-radius: 4px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fh4);
}

/* .item-img {
    height: 90px;
    position: absolute;
} */

/* .option-item > .opname {
    font-size: calc(var(--fh4) + -2px);
    text-align: center;
    position: relative;
    top: 65px;
    width: 100%;
    background-color: var(--cwhite);
    padding: 1px;
} */

/* .option-item > .opname-chinese {
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: var(--fh5);
    text-align: center;
    position: relative;
    top: 58px;
    width: 100%;
    background-color: var(--cwhite);
    color: transparent;
} */



.grid-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 4.2% 0 5%;
    padding: 3% 4.2% 2% 5%;
}

.grid-calc > * {
    font-size: var(--fh4);
}

.crow-top, .crow-bottom {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.crow-top {
    gap: 4%;
    flex-grow: 3;
}

.crow-bottom {
    gap: 4%;
    flex-grow: 4;
    justify-content: space-between;
}

.cinput {
    /* display: flex; */
    width: 100%;
    /* max-width: 45px; */
    /* aspect-ratio: 1.5/1; */
    padding: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    color: var(--black);
    background-color: var(--cwhite);
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
    font-size: var(--fh5);
    margin-top: clamp(0px, calc(100vh - 700px) * 0.5, 5px);
}

.cbutton {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 2.5/1;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    color: white;
    /* background: hsla(236, 62%, 50%, 1);
    background: linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -webkit-linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#303ace", endColorstr="#6D40DF", GradientType=1 ); */
}

.cb {
    display: flex;
    /* width: 90%; */
    /* max-width: 45px; */
    /* aspect-ratio: 1.5/1; */
    /* padding: 6px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    color: var(--black);
    background-color: var(--cwhite);
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
}

div.cb.cb-del span {
    font-size: var(--fh4);
}

.align-item-number {
    flex-grow: 1;
    width: 36%;
}

.itemnumber-input {
    width: 100%;
    text-align: left;
    background: url(/assets/barcode.png) no-repeat scroll;
    background-color: var(--cwhite);
    background-size: 1.3rem;
    background-position-y: center;
    background-position-x: right 8px;
}

.quantity-input {
    width: 100%;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 8px 0;
}

.align-quantity {
    flex-grow: 1;
    width: 20%;
}

.align-quantity-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
    margin-top: clamp(0px, calc(100vh - 700px) * 0.5, 5px);
}

.align-quantity-input > .minus, .align-quantity-input > .plus {
    padding: 0px 10px;
}

.calc-add {
    flex-grow: 1;
    width: 6%;
}

.add-name {
    color: var(--cwhite);
}

.calc-table {
    /* flex-grow: 1; */
    /* padding: 0 0 6.5% 0; */
    display: flex;
    flex-direction: column;
    gap: clamp(1px, calc(100vh - 900px) * 0.5, 33px);
    width: 33%;
}

.tableno-input, .cover-input {
    width: 88%;
    text-align: left;
}

.calc-calc {
    display: grid;
    row-gap: clamp(0px, calc(100vh - 700px) * 0.5, 7px);
    column-gap: clamp(0px, calc(100vw - 700px) * 0.5, 7px);
    grid-template-columns: repeat(3, clamp(28px, calc(100vw - 1073px) * 1.1, 61px));
}

.crow-button {
    /* flex-grow: 1; */
    width: 16.1%;
}

.crow-separator {
    width: 15%;
    height: 1px;
    background-color: var(--cborder);
    margin: clamp(1px, calc(100vh - 800px) * 0.5, 8px) 0px;
    flex-grow: 0;
}

/* .ac-button, .clear-button {
    display: flex;
    margin-bottom: 6px;
} */

.grid-seven {
    display: flex;
    gap: 0.4%;
    margin-top: 2.5%;
    grid-template-columns: repeat(3, minmax(60px, 0fr));
    background: hsla(244, 42%, 56%, 1);
    background: linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#645EBE", endColorstr="#A972F1", GradientType=1 );
}
.grid-seven > div {
    font-size: calc(var(--fh4) + -5%);
}

.newbill, .price, .ptwo, .pfive, .pten, .ptnty, .pfity {
        background: hsla(244, 42%, 56%, 1);
        background: linear-gradient(
321deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
        background: -webkit-linear-gradient(
317deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#645EBE", endColorstr="#A972F1", GradientType=1 );
}

.newbill, .price {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    color: white;
}

.pricegroup {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.ptwo, .pfive, .pten, .ptnty, .pfity {
    font-size: calc(var(--fh2));
}

.pgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    color: var(--cwhite);
}

.pgift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-eight {
    display: grid;
    margin-top: 6%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: hsla(167, 34%, 50%, 1);
    background: linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#56AB99", endColorstr="#31827A", GradientType=1 );
}

.cashbox, .goodsreturn, .cancelitem, .additem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--fh4) - 8%);
    color: var(--cwhite);
    border-radius: var(--button-radius);
    background: hsla(167, 34%, 50%, 1);
    background: linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#56AB99", endColorstr="#31827A", GradientType=1 );
}

/* .grid-nine {
    margin-top: 3%;
    background: hsla(36, 100%, 70%, 1);
    background: linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFC266", endColorstr="#FDAE44", GradientType=1 );
} */

.arowone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    width: 100%;
    height: 50%;
}

.arowtwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    width: 100%;
    height: 50%;
}

/* .grid-nine > div {
    font-size: calc(var(--fh4) - 10%);
} */

.tcan, .print, .tres, .tdel, .restore, .mainmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--cwhite);
    border-radius: var(--button-radius);
    /* background: hsla(36, 100%, 70%, 1);
    background: linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%); */
}

/* .card.three.grid-bill td,
.card.three.grid-bill td, */
.card.six.grid-calc .align-quantity-input .plus,
.card.six.grid-calc .align-quantity-input .minus {
    font-size: var(--fh4);
}


.card.seven div,
.card.eight div,
.card.nine div {
    font-size: var(--fh5);
    text-align: center;
}

.card.nine .tdel-name,
.card.nine .tcan-name,
.card.nine .tres-name,
.card.nine .print-name {
    width: min-content;
}

.mainmenu .tdel div.tdel-name,
.content .amounttitle {
    width: max-content;
}


/* ############################################################ */
/* #######################Inventory Page#######################*/
/* ############################################################ */


.inventory-content {
    background-color: var(--cwhite-pale);
    display: flex;
    flex-direction: column;
    gap: 2.8%;
    height: 100%;
    width: 100%;
    font-weight: 600;
    /* margin: 1%; */
    padding: 16px;
}

.statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 48px;
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.inventorytitle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    font-size: var(--fh1);
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.datetimegrid {
    padding: 0;
}

.dategrid, .timegrid {
    width: auto;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4.85/1;
    font-size: var(--fh4);
    border-radius: var(--button-radius);
    /* box-shadow: var(--smid); */
    text-wrap-mode: nowrap;
    gap: 10px;
}

.datetime {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: clamp(22px, 0.1vw, 40px);
    background-color: var(--cwhite);
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    overflow: hidden;
}

.date-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dayname {
    font-size: var(--fh5);
    font-weight: 500;
    color: var(--cgrey);
}

.datetime > .separator {
    width: 1px;
    height: 100%;
    background-color: var(--cborderdark);
}

.dategrid .calendar-symbol, .timegrid .time-symbol {
    font-size: 220%;
}


.grid-filter-card > * {
    font-size: var(--fh4);
}

.selector {
    display: flex;
    align-items: center;
    /* width: 80%; */
    text-wrap-mode: nowrap;
    border: 1px solid var(--cborderdark);
    border-radius: 6px;
    justify-content: space-evenly;
    max-height: 35px;
    /* margin-top: 10%; */
    padding: 1vw;
    flex-grow: 100;
    width: max(1vw, 95%);
}

.selector > span {
    font-size: var(--ficons);
}

.selector > select.opg-select {
    border: 0;
    /* min-width: 124px; */
}

.align-option-group > input.opg-date-select {
    border: 0;
    /* min-width: 115px; */
    border: 1px solid var(--cborderdark);
    border-radius: 6px;
    /* padding: 5%; */
    /* aspect-ratio: 4.8/1; */
    /* margin-top: 10%; */
    padding: 1vw;
    max-height: 35px;
    width: max(1vw, 95%);
}

.inventory-card {
    background-color: var(--cwhite);
    font-size: 1.2vw;
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    /* overflow: hidden; */
    /* height: 15%; */
    max-height: 120px;
    scrollbar-width: none;
    display: flex;
    width: 100%;
    /* gap: 4%; */
    padding: 1.3%;
    align-items: center;
}

.inventory-card.grid-main-table-card {
    overflow-y: scroll;
    padding: 1% 3% 3%;
    height: 100%;
    max-height: unset;
    display: flex;
    flex-direction: column;
}

.tablebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.align-option-group {
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: max-content; */
    gap: 0.6vw;
}

.align-tbutton-group {
    display: flex;
    gap: 10px;
}

.align-tbotton-group {
    width: 100%;
}


.option-group-name {
    font-size: var(--fh3);
    color: var(--cgreydark);
}

.grid-filter-card .t-bfilter-group {
    display: flex;
    flex-grow: 100;
    gap: 10px;
    /* height: 40%; */
    align-items: center;
    justify-content: start;
}

.t-bfilter {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    /* padding: 10px; */
    text-wrap-mode: nowrap;
    border-radius: 6px;
    font-size: var(--fh4);
    /* height: 40%; */
    margin-top: 2%;
    position: relative;
    /* gap: 6%; */
    border: 1px solid var(--cborderdark);
    box-shadow: var(--cborder);
    padding: 0.5vw;
    aspect-ratio: 3.2/1;
}

.t-bfilter.t-baction-filter, .t-bfilter.t-baction-reset {
    position: relative;
    padding: 0.4vw;
    aspect-ratio: 7/1;
}

.tbutton-group {
    display: flex;
    height: 100%;
    /* flex-grow: 1; */
    /* align-items: center; */
    justify-content: flex-end;
}

.tbutton-group .t-bfilter {
    height: 100%;
    margin: 0px;
}

.option-sudo-select {
    color: hsla(236, 62%, 50%, 1);
    background: var(--cwhite-pale);
}

.inventory-card table thead, .inventory-card table thead tr {background: hsl(249, 100%, 99%);}

.inventory-card table {
    overflow-y: scroll;
}

.inventory-card table thead tr th::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: 10px;
    background: url(/assets/updown.png) no-repeat;
    background-size: contain;
}

.table-pages {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.align-tshow, .align-tshow .entries {
    display: flex;
    width: fit-content;

}

.align-tshow .entries {
    gap: 18px;
}

.align-tshow .entries .t-pages {
    margin: 1px solid var(--cblack);
    border: 1px solid var(--cgrey);
    padding: 10px;
    border-radius: 6px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inv-category, .inv-unit, .inv-lastupdated, .showtext, .entriestext, .showingtext {
    color: var(--cgreydark);
}

.showtext, .entriestext, .showingtext {
    font-size: var(--fh4);
}

.entries {
    display: flex;
    align-items: center;
}

.entriescount {
    border: 2px solid var(--cborder);
    aspect-ratio: 1/1;
}

/* .grid-filter-card .t-bfilter {
    padding: 20px;
    padding: 1vw;
} */

.tableitems {
    font-size: var(--fh3);
}

.inv-instock {
    color: hsl(120, 97%, 39%);
}

.inv-instock-orange {
color: hsl(29, 93%, 52%);
}

.inv-instock-red {
color: hsl(357, 95%, 43%);
}

.inv-status {
    color: hsl(120, 97%, 39%);
    background-color: hsl(131, 47%, 93%);
    padding: 10px;
    border-radius: 6px;
}

.inv-status-orange {
    color: hsl(29, 93%, 52%);
    background-color: hsl(36, 73%, 93%);
}

.inv-status-red {
    color: hsl(357, 95%, 43%);
    background-color: hsl(346, 100%, 93%);
}

.inventory-card table tbody {
    position: relative;
    z-index: 2;
}

.inventory-card table tbody .alignnames {
    text-wrap-mode: nowrap;
}


/* ############################################################ */
/* ########################Additem Page########################*/
/* ############################################################ */


#additem-form-itemimage {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#additem-form-itemimage:valid {
    opacity: 1;
}

#additem-form-itemimage:invalid {
    opacity: 0;
}

.additem-content {
    background-color: var(--cwhite-pale);
    display: flex;
    flex-direction: column;
    gap: 2.8%;
    height: 100%;
    width: 100%;
    font-weight: 600;
    /* margin: 1%; */
    padding: 16px;
}

.additem-statusbar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* max-height: 48px; */
}

.additem-topbar {
    display: flex;
    flex-grow: 100;
}

.additem-navbar {
    display: flex;
    flex-grow: 100;
}

.additem-navbar-align {
    display: flex;
    gap: 5%;
}

.additem-navbar-inventory, .additem-navbar-arrow, .additem-navbar-inventory {
    text-wrap-mode: nowrap;
    font-size: var(--fh4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.additem-inventorytitle {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    /* margin-left: 4%; */
    font-size: var(--fh1);
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}


.additem-card {
    background-color: var(--cwhite);
    font-size: 1.2vw;
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    /* overflow: hidden; */
    /* height: 15%; */
    /* max-height: 120px; */
    scrollbar-width: none;
    display: flex;
    /* width: 100%; */
    gap: 4%;
    padding: 2% 7%;
    /* align-items: center; */
    flex-grow: 100;
    flex-direction: column;
    overflow-y: scroll;
}

.additem-baction-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.additem-baction {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    padding: 10px;
    text-wrap-mode: nowrap;
    border-radius: 6px;
    font-size: var(--fh4);
    height: 40%;
    margin-top: 2%;
    position: relative;
    gap: 6%;
    border: 1px solid var(--cborderdark);
    box-shadow: var(--cborder);
    height: 100%;
    margin: 0px;
    padding: 20px;
    aspect-ratio: 5/1;
}

.additem-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.additem-card-separator {
    background-color: var(--cborderdark);
    height: 2px;
    border-radius: 10px;
}

.additem-card-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 100;
}

.additem-itemtitle-text {
    font-size: var(--fh1);
}

.additem-titlebar {
    font-size: var(--fih0);
    display: flex;
    /* align-items: end; */
    justify-content: center;
    /* padding: 20px; */
    gap: 10px;
}

.additem-titlebar .additem-menu-symbol {
    font-size: var(--fih0);
    display: flex;
    align-items: center;
}


.additem-itemdescription-text {
    font-size: var(--fh2);
    color: var(--cgreydark);
}

.additem-form {
    display: flex;
    flex-grow: 100;
    gap: 5%;
}

.additem-card-left, .additem-card-right {
    display: flex;
    flex-direction: column;
    flex-grow: 50;
    padding: 10px;
}

.additem-card-left input, .additem-card-right input, .additem-card-left select, .additem-card-right select, .additem-card-right textarea {
    width: 100%;
    margin: 1% 0;
}

.hide-text {
    color: transparent !important;
}

.additem-important::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

.additem-card-left > div, .additem-card-right > div {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
}

.additem-desc-text {
    font-size: var(--fh4);
    color: var(--cgreydark);
}

.additem-form input, .additem-form select, .additem-form textarea {
    height: 100%;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid var(--cborderdark);
    font-size: var(--fh4);
}

.additem-form-validate input:invalid, 
.additem-form-validate select:invalid, 
.additem-form-validate textarea:invalid {
    height: 100%;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid red;
    font-size: var(--fh4);
}

/* .additem-form input:invalid, 
.additem-form select:invalid, 
.additem-form textarea:invalid {
    height: 100%;
    border-radius: 6px;
    padding: 2%;
    border: 1px solid red;
    font-size: var(--fh4);
} */

.additem-itemcode input.additem-itemcode-input,
.additem-itemcode input.additem-itemcode-input::selection
{
    user-select: none;
    background-color: transparent;
}

.additem-itemcode input, .additem-status select {
    background: var(--cwhite-pale);
}

.aditem-itemimage {
    border: 0;
}

.additem-itemimage-input {
    border: 1px solid var(--cborderdark);
    border-style: dashed;
    background: var(--cwhite-pale);
    height: 100%;
    width: 100%;
    border-radius: 6px;
    font-size: var(--fh4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
}

.additem-itemimage, .additem-itemdesc {
    height: 30%;
}

.additem-fileupload {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.additem-fileupload-title {
    font-size: var(--fh3);
}

.additem-fileupload-desc {
    color: var(--cgreydarkdark);
    font-size: var(--fh4);
}

.additem-itemimage-input span {
    color: var(--cpurple-dark);
    font-size: var(--fih0);
}

.additem-navbar-inventory:nth-child(1) {
    color: var(--cpurple-dark);
}

.inv-baction-delete {
    color: hsl(357, 95%, 43%);
    background: hsl(346, 100%, 93%);
}

/* ############################################################ */
/* #######################ItemRequest Page#######################*/
/* ############################################################ */



.itemrequest-content {
    background-color: var(--cwhite-pale);
    display: flex;
    flex-direction: column;
    gap: 2.8%;
    height: 100%;
    width: 100%;
    font-weight: 600;
    /* margin: 1%; */
    padding: 16px;
}

.itemrequest-statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 48px;
}

.itemrequest-titlebar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.itemrequest-inventorytitle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    font-size: var(--fh1);
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    text-wrap-mode: nowrap;
}

.datetimegrid {
    padding: 0;
}

.dategrid, .timegrid {
    width: auto;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4.85/1;
    font-size: var(--fh4);
    border-radius: var(--button-radius);
    /* box-shadow: var(--smid); */
    text-wrap-mode: nowrap;
    gap: 10px;
}

.datetime {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: clamp(22px, 0.1vw, 40px);
    background-color: var(--cwhite);
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    overflow: hidden;
}

.date-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dayname {
    font-size: var(--fh5);
    font-weight: 500;
    color: var(--cgrey);
}

.datetime > .separator {
    width: 1px;
    height: 100%;
    background-color: var(--cborderdark);
}

.dategrid .calendar-symbol, .timegrid .time-symbol {
    font-size: 220%;
}


.grid-filter-card > * {
    font-size: var(--fh4);
}

.selector {
    display: flex;
    align-items: center;
    /* width: 80%; */
    text-wrap-mode: nowrap;
    border: 1px solid var(--cborderdark);
    border-radius: 6px;
    justify-content: space-evenly;
    max-height: 35px;
    /* margin-top: 10%; */
    padding: 1vw;
    flex-grow: 100;
    width: max(1vw, 95%);
}

.selector > span {
    font-size: var(--ficons);
}

.align-option-group > input.opg-date-select {
    border: 0;
    /* min-width: 115px; */
    border: 1px solid var(--cborderdark);
    border-radius: 6px;
    /* padding: 5%; */
    /* aspect-ratio: 4.8/1; */
    /* margin-top: 10%; */
    padding: 1vw;
    max-height: 35px;
    width: max(1vw, 95%);
}

.itemrequest-card {
    background-color: var(--cwhite);
    font-size: 1.2vw;
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    /* overflow: hidden; */
    /* height: 15%; */
    max-height: 120px;
    scrollbar-width: none;
    display: flex;
    width: 100%;
    /* gap: 4%; */
    padding: 1.3%;
    align-items: center;
}

.itemrequest-card.grid-main-table-card {
    overflow-y: scroll;
    padding: 1% 3% 3%;
    height: 100%;
    max-height: unset;
    display: flex;
    flex-direction: column;
}

.tablebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.align-option-group {
    display: flex;
    flex-grow: 100;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* width: max-content; */
    gap: 0.6vw;
}

.align-tbutton-group {
    display: flex;
    gap: 10px;
}

.align-tbotton-group {
    width: 100%;
}


.option-group-name {
    font-size: var(--fh3);
    color: var(--cgreydark);
}

.grid-filter-card .t-bfilter-group {
    display: flex;
    flex-grow: 100;
    gap: 10px;
    height: 100%;
    align-items: flex-end;
    justify-content: start;
}

.tbutton-group .t-bfilter {
    height: 100%;
    margin: 0px;
}

.option-sudo-select {
    color: hsla(236, 62%, 50%, 1);
    background: var(--cwhite-pale);
}

.inventory-card table thead, .inventory-card table thead tr {background: hsl(249, 100%, 99%);position: relative;}

.inventory-card table {
    overflow-y: scroll;
}

.inventory-card table thead tr th::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 1px;
    margin-left: 2px;
    background: url(/assets/updown.png) no-repeat;
    background-size: contain;
}

.table-pages {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.align-tshow, .align-tshow .entries {
    display: flex;
    width: fit-content;

}

.align-tshow .entries {
    gap: 18px;
}

.align-tshow .entries .t-pages {
    margin: 1px solid var(--cblack);
    border: 1px solid var(--cgrey);
    padding: 10px;
    border-radius: 6px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inv-category, .inv-unit, .inv-lastupdated, .showtext, .entriestext, .showingtext {
    color: var(--cgreydark);
}

.showtext, .entriestext, .showingtext {
    font-size: var(--fh4);
}

.entries {
    display: flex;
    align-items: center;
}

.entriescount {
    border: 2px solid var(--cborder);
    aspect-ratio: 1/1;
}

/* .grid-filter-card .t-bfilter {
    padding: 20px;
    padding: 1vw;
} */

.tableitems {
    font-size: var(--fh3);
}

.inv-instock {
    color: hsl(120, 97%, 39%);
}

.inv-instock-orange {
color: hsl(29, 93%, 52%);
}

.inv-instock-red {
color: hsl(357, 95%, 43%);
}

.inv-status {
    color: hsl(120, 97%, 39%);
    background-color: hsl(131, 47%, 93%);
    padding: 10px;
    border-radius: 6px;
}

.inv-status-orange {
    color: hsl(29, 93%, 52%);
    background-color: hsl(36, 73%, 93%);
}

.inv-status-red {
    color: hsl(357, 95%, 43%);
    background-color: hsl(346, 100%, 93%);
}

.inventory-card table tbody {
    position: relative;
    z-index: 2;
}


/* ############################################################ */
/* #######################customer report page#######################*/
/* ############################################################ */


#customerreport-table .inv-sold {
    width: max-content;
}


/* ############################################################ */
/* #######################request item page#######################*/
/* ############################################################ */
.requestitem-content .additem-form input,
.requestitem-content .additem-form select,
.requestitem-content .additem-form textarea {
    height: 50%;
    padding: 4px 10px;
    margin: 4px 0;
    appearance: none;
    -webkit-appearance: none;
}
.requestitem-content .additem-baction {
    padding: clamp(12px, calc(100vw - 400px) * 0.05, 20px);
    margin: 0;
    /* aspect-ratio: unset; */
}
.requestitem-content .additem-quantity-input::-webkit-outer-spin-button,
.requestitem-content .additem-quantity-input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
.requestitem-content .additem-inventorytitle {
    width: max-content;
}
.requestitem-content .additem-desc-text {
    font-size: var(--fh5);
}
/* ############################################################ */
/* #######################customer purchase page###############*/
/* ############################################################ */
#customerpurchase-content {
    position: absolute;
    z-index: 20;
}

#customerpurchase-content .additem-navbar-align .alignnames span {
    padding: 10px;
}
/* ############################################################ */
/* #######################Misc#######################*/
/* ############################################################ */
.hide-text {
    color: transparent !important;
}

.hide-all {
    opacity: 0 !important;
}

.remove-all {
    display: none !important;
}