.option-item-select::after {
    content: attr(data-inventory-count raw-string, "1");
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: hsl(239, 66%, 54%);
    color: white;
    border-radius: 4px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.4rem, max(calc(100vh - 700px) * 0.05, calc(100vw - 800px) * 0.05), 0.62rem);
}

/* ############################################################ */
/* ########################Additem Page########################*/
/* ############################################################ */