* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --cwhite: #FFFFFF;
    --cblack: #000000;
    --cgrey: hsl(226, 14%, 65%);
    --cwhite-pale: hsl(240, 71%, 99%);
    --cwhite-pale: hsl(240, 71%, 98.5%);
    --cvoilet: hsl(239, 66%, 54%);
    --cpurple: hsl(255, 72%, 55%);
    --cpurple-pale: hsl(244, 43%, 57%);
    --cpurple-dark: hsl(248, 57%, 47%);
    --cviolet-pale: hsl(267, 81%, 71%);
    --cgreen: hsl(168, 33%, 49%);
    --ctorquise: hsl(173, 45%, 36%);
    --corange: hsl(36, 99%, 70%);
    --corange-pale: hsl(35, 99%, 60%);
    --cblue: hsl(225, 43%, 16%);
    --cblue-pale: hsl(215, 76%, 95%);
    --clogo: hsl(258, 77%, 66%);
    --cmenu: hsl(224, 47%, 11%);
    --cmenu-pale: hsl(228, 33%, 21%);
    --cborder: hsla(226, 14%, 75%, 0.1);

    /* sizes */
    --big-font: clamp(0.5rem, 1vw, 0.9rem);
    --small-font: clamp(0.5rem, 1vw, 0.75rem);
    --tiny-font: clamp(0.9rem, var(--small-font), 0.65rem);
    --fh1: clamp(1.27rem, 1.34vw, 1.67rem);
    --fh2: clamp(0.85rem, 0.9vw, 1.25rem);
    --fh3: clamp(0.65rem, 0.82vw, 1.25rem);
    --fh4: clamp(0.5rem, 1vw, 0.82rem);
    --fh5: clamp(0.5rem, 1vw, 0.62rem);
    --p1: 8px;
    --p2: 16px;
    --p3: 32px;
    --p4: 64px;

    /* global settings */
    --background: var(--cwhite);
    --card-background: var(--cwhite-pale);
    --test-background: salmon;
    --slight: 0px 0px 8px -4px hsla(0, 0%, 0%, 0.05);
    --smid: 0px 0px 8px -4px hsla(0, 0%, 0%, 0.1);
    --smiddark: 0px 0px 1px 0px hsla(0, 0%, 0%, 0.2);
    --sdark: 0px 0px 8px -4px hsla(0, 0%, 0%, 0.5);
    --card-radius: 8px;
    --button-radius: 4px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: var(--card-background);
    display: flex;
}


body>* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    cursor: pointer;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 0%;
    opacity: 50%;
    display: none;
}

.menu {
    background-color: var(--cmenu);
    background: hsla(224, 46%, 11%, 1);
    background: linear-gradient(90deg, hsla(224, 46%, 11%, 1) 0%, hsla(228, 33%, 21%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(224, 46%, 11%, 1) 0%, hsla(228, 33%, 21%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(224, 46%, 11%, 1) 0%, hsla(228, 33%, 21%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0F1629", endColorstr="#242B47", GradientType=1 );
    height: 100%;
    /* width: 40%; */
    max-width: 480px;
    padding: 0.65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu > * {
    font-size: var(--fh2);
}

.names {
    display: flex;
    flex-direction: column;
}

.appinfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    aspect-ratio: 1/0.78;
}

.icon.appicon {
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    color: var(--cwhite);
    background-color: var(--clogo);
    border-radius: 50%;
    padding: 12px;
}

.appname {
    color: white;
}

.appname.userrole {
    color: var(--cgrey);
    font-size: var(--fh3);
}

.material-symbols-outlined.userrole-symbol {
    color: var(--cwhite);
    font-size: var(--tiny-font);
}

.userprof {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/0.54;
    gap: 8px;
    padding: 4.8px;
}

.usericon {
    background-color: var(--cpurple);
    border-radius: 50%;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.userprof .names .appname {
    font-size: var(--fh3);
}

.userprof .names .appname.userrole {
    font-size: var(--fh5);
}

.bar {
    width: 71%;
    height: clamp(1rem, 100%, 2.4rem);
    border: 0px;
    border-radius: 8px;
    /* padding: 10px; */
    background: url(search.png) no-repeat scroll 14px 0px;
    background-color: var(--cwhite);
    background-size: 1.3rem;
    background-position-y: center;
    padding-left: 42px;
    color: var(--cblack);
    box-shadow: var(--smid);
    font-size: var(--fh3);
    max-height: clamp(28px, 3vw, 38px);
}

.options {
    width: 100%;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    gap: 5.8px;
    overflow-y: scroll;
    scrollbar-width: none;
    color: var(--cgrey);
    padding-top: 12.5%;
}

.options > .option > .opname {
    font-size: var(--fh3);
}

.option-select {
    color: white;
    background: hsla(236, 62%, 50%, 1);
    background: linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -webkit-linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#303ace", endColorstr="#6D40DF", GradientType=1 );
}

.option {
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    padding: 11.5px;
    width: 100%;
    height: 6%;
}

/* .option:nth-child(1) {
    background-color: rgb(26, 206, 50);
    color: white;
}

.option:hover {
    background-color: rgb(26, 206, 50);
    color: white;
} */

.option>.symbol {
    font-size: calc(var(--small-font) + 0.5rem);
    padding: 1px;
}

/* .img {
    height: clamp(1rem, 3vw, 4.5rem);
    border-radius: 50%;
} */

/* .content {
    background-color: var(--background);
    display: grid;
    grid-template-areas: 
    "one    one     one     one     one     two     two     two     two     two"
    "three  three   three   three   four    four    five    five    five    five"
    "three  three   three   three   four    four    five    five    five    five"
    "three  three   three   three   four    four    five    five    five    five"
    "three  three   three   three   four    four    five    five    five    five"
    "three  three   three   three   four    four    five    five    five    five"
    "six    six     six     six     four    four    five    five    five    five"
    "six    six     six     six     four    four    five    five    five    five"
    "seven  seven   seven   seven   eight   eight   nine    nine   nine    nine"
    "seven  seven   seven   seven   eight   eight   nine    nine   nine    nine";
    gap: 20px;
    height: 100%;
    width: 100%;
} */

.content {
    background-color: var(--cwhite-pale);
    display: grid;
    grid-template-areas:
        "one    one     two     two"
        "three  four    five    five"
        "six    four    five    five"
        "seven  eight   eight   nine";
    grid-template-rows: 5.5% 52.9% 26%;
    grid-template-columns: 42.6% 13% 4.8%;
    gap: 0.8%;
    height: 100%;
    width: 100%;
    font-weight: 600;
    /* margin: 1%; */
    padding: 16px;
}

.card {
    background-color: var(--cwhite);
    font-size: 1.2vw;
    border-radius: var(--card-radius);
    box-shadow: var(--smid);
    overflow: hidden;
    scrollbar-width: none;
}

.grid-total {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    border-radius: var(--card-radius);
}

.grid-bill {
    overflow-y: scroll;
    padding: 3%;
}

.billtitle, .totalamount  {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
    font-size: var(--fh1);
}

.billtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.billtitle > .more-symbol {
    font-size: var(--fh1);
    color: var(--cgrey);
}

.totalamount {
    margin-left: 19.8%;
}

.aligntotal {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.amounttitle {
    font-size: var(--fh3);
    padding-right: 1.2%;
}
.amount {
    color: var(--cpurple-dark);
    font-size: clamp(1.7rem, 1.7vw, 2.1rem);
    height: fit-content;
}

.one, .two {
    box-shadow: 0px 0px 0px 0px transparent;
    background: var(--cwhite-pale);
}

.one {
    grid-area: one;
    overflow: visible;
}
.two {
    grid-area: two;
}
.three {grid-area: three;}
.four {grid-area: four;overflow: scroll;}
.five {grid-area: five;}
.six {grid-area: six;}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}

.search {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 4.2%;
    padding: 0px 3%;
}

.changelayout {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layoutgrid, .layoutlist {
    width: auto;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1.15/1;
    border-radius: var(--button-radius);
    box-shadow: var(--smid);
    background-color: var(--cwhite);
}

.layoutgrid > span, .layoutlist > span {
    font-size: clamp(0.7rem, 3vw, 1.7rem);
}

.changelayout > .symbol {
    background-color: var(--cwhite);
}

table>* {
    border-collapse: collapse;
}

/* .number {
    font-size: var(--big-font);
    letter-spacing: 1px;
} */

/* .desc {
    color: white;
} */

table {
    width: 98.8%;
    height: auto;
    text-align: center;
    border-radius: var(--card-radius);
    margin-top: 1%;
}

thead {
    /* background-color: hsl(0, 0%, 30%); */
    border-radius: var(--button-radius);
    font-size: var(--tiny-font);
    border-bottom: 1px solid var(--cborder);
}

th, td {
    padding: 7.5px;
    font-size: var(--fh4);
    /* width: 100%; */
    height: fit-content;
    /* border: 1px solid red; */
}

th, tr, thead, tbody, table {
    border-collapse: collapse;
}

/* tbody > tr > td:nth-child(1) {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 4px;
} */

.alignnames {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    padding-left: 4px;
    width: 90%;
}

.aligncount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

span.item-symbol {
    background-color: hsl(245, 86%, 94%);
    padding: 6px;
    font-size: var(--fh1);
    border-radius: var(--button-radius);
}

img.item-symbol {
    background-color: hsl(245, 86%, 94%);
    padding: 6px;
    font-size: var(--fh1);
    border-radius: var(--button-radius);
    height: 32px;
}

tbody > tr > td:nth-child(2) {
    width: 13%;
    text-align: center;
    vertical-align: middle;
}

.bill-item-count {
    display: flex;
    width: 90%;
    max-width: 45px;
    aspect-ratio: 1.5/1;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
}

span.delete-symbol {
    font-size: var(--fh2);
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 2.5%;
    background: hsl(216, 71%, 99%);
    color: var(--cgrey);
    padding: 2.5% 4.1%;
    border-radius: var(
    --button-radius);
}

.info > .info-symbol {
    color: var(--cvoilet);
    font-size: clamp(1.3rem, 1.3vw, 3rem);
}

.info > .infotext {
    font-size: var(--fh5);
    line-height: 16.5px;
    letter-spacing: 0.2px;
}


.types-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    color: var(--cblack);
    padding: 14%;
    font-size: var(--fh3);
    position: relative;
}

.option-type {
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
    padding: 7.5%;
}

.option-type>.symbol {
    font-size: calc(var(--small-font) + 1rem);
    padding: 1px;
}

.types-options > .separator {
    width: 100%;
    height: 1px;
    background-color: var(--cborder);
}

.grid-items {
    position: relative;
}

.grid-items::after {
    content: "";
    width: 17%;
    height: 10px;
    position: absolute;
    margin: 8px 0px;
    bottom: 0;
    left: 38%;
    bottom: 4.6%;
    border: 0;
    border-bottom: clamp(1px, 0.8vw, 10px) solid var(--cgrey);
    border-style: dotted;
}

.items-options {
    position: relative;
    width: 100%;
    display: grid;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    color: var(--cblack);
    padding: 5% 2%;
    font-size: var(--small-font);
    grid-template-columns: repeat(auto-fit, minmax(130px, 0fr));
}

.option-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    gap: 5px;
    padding: 8px;
    aspect-ratio: 1/0.9;
    border: 1px solid var(--cborder);
    position: relative;
}

.option-item>.symbol {
    font-size: clamp(4rem, 3vw ,4rem);
    padding: 1px;
}

.option-item-select {
    box-shadow: var(--smiddark);
    border: 1px solid var(--cborder);
}

.option-item-select::after {
    content: "1";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--cvoilet);
    color: white;
    border-radius: 4px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--tiny-font);
}

.item-img {
    height: 90px;
    position: absolute;
}

.option-item > .opname {
    font-size: calc(var(--fh4) + -2px);
    text-align: center;
    position: relative;
    top: 65px;
    width: 100%;
    background-color: var(--cwhite);
    padding: 1px;
}

.option-item > .opname-chinese {
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: var(--fh5);
    text-align: center;
    position: relative;
    top: 58px;
    width: 100%;
    background-color: var(--cwhite);
}



.grid-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3% 5%;
}

.grid-calc > * {
    font-size: var(--fh4);
}

.crow-top, .crow-bottom {
    display: flex;
    width: 100%;
}

.crow-top {
    gap: 5%;
}

.cinput {
    display: flex;
    width: 100%;
    /* max-width: 45px; */
    /* aspect-ratio: 1.5/1; */
    padding: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    color: var(--black);
    background-color: var(--cwhite);
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
    font-size: var(--fh5);
    margin-top: 5px;
}

.cbutton {
    display: flex;
    width: 100%;
    height: auto;
    aspect-ratio: 2.5/1;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    margin-top: 5px;
    color: white;
    background: hsla(236, 62%, 50%, 1);
    background: linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    background: -webkit-linear-gradient(
316deg, hsla(236, 62%, 50%, 1) 0%, hsla(257, 71%, 56%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#303ace", endColorstr="#6D40DF", GradientType=1 );
}

.cb {
    display: flex;
    /* width: 90%; */
    /* max-width: 45px; */
    /* aspect-ratio: 1.5/1; */
    padding: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    color: var(--black);
    background-color: var(--cwhite);
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
}

.align-item-number {
    flex-grow: 1;
    width: 36%;
}

.itemnumber-input {
    width: 100%;
    text-align: left;
    background: url(barcode.png) no-repeat scroll;
    background-color: var(--cwhite);
    background-size: 1.3rem;
    background-position-y: center;
    background-position-x: right 8px;
}

.quantity-input {
    width: 100%;
    border: 0;
    box-shadow: none;
    margin: 0;
}

.align-quantity {
    flex-grow: 1;
    width: 20%;
}

.align-quantity-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid var(--cborder);
    box-shadow: var(--smiddark);
    margin-top: 5px;
}

.align-quantity-input > .minus, .align-quantity-input > .plus {
    font-size: var(--fh2);
    padding: 0px 10px;
}

.calc-add {
    flex-grow: 1;
    width: 6%;
}

.add-name {
    color: var(--cwhite);
}

.calc-table {
    flex-grow: 1;
    padding: 3% 0px;
    display: flex;
    flex-direction: column;
    gap: 28%;
    width: 33%;
}

.tableno-input, .cover-input {
    width: 80%;
    text-align: left;
}

.calc-calc {
    display: grid;
    row-gap: 7%;
    column-gap: 6%;
    grid-template-columns: repeat(3, minmax(60px, 0fr));
    flex-grow: 1;
    margin-top: 2.6%;
}

.crow-button {
    flex-grow: 1;
    margin-top: 2%;
}

.crow-separator {
    width: 15%;
    height: 1px;
    background-color: var(--cborder);
    margin: 8px 0px;
}

.ac-button, .clear-button {
    display: flex;
    width: 100%;
    height: auto;
    gap: 4px;
    margin-top: 6%;
}

.grid-seven {
    display: flex;
    gap: 1%;
    margin-top: 3%;
    margin-bottom: 0.78%;
    grid-template-columns: repeat(3, minmax(60px, 0fr));
    background: hsla(244, 42%, 56%, 1);
    background: linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#645EBE", endColorstr="#A972F1", GradientType=1 );
}
.grid-seven > div {
    font-size: calc(var(--fh4) + -5%);
}

.newbill, .price, .ptwo, .pfive, .pten, .ptnty, .pfity {
        background: hsla(244, 42%, 56%, 1);
        background: linear-gradient(
321deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
        background: -moz-linear-gradient(90deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
        background: -webkit-linear-gradient(
317deg, hsla(244, 42%, 56%, 1) 0%, hsla(266, 82%, 70%, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#645EBE", endColorstr="#A972F1", GradientType=1 );
}

.newbill, .price {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    color: white;
}

.pricegroup {
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.ptwo, .pfive, .pten, .ptnty, .pfity {
    font-size: calc(var(--fh2));
}

.pgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--button-radius);
    color: var(--cwhite);
    /* border: 1px solid var(--cborder); */
    /* box-shadow: var(--smiddark); */
}

.pgift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-eight {
    display: grid;
    margin-top: 5%;
    margin-bottom: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background: hsla(167, 34%, 50%, 1);
    background: linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#56AB99", endColorstr="#31827A", GradientType=1 );
}

.cashbox, .goodsreturn, .cancelitem, .additem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--fh4) - 8%);
    color: var(--cwhite);
    border-radius: var(--button-radius);
    background: hsla(167, 34%, 50%, 1);
    background: linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(167, 34%, 50%, 1) 0%, hsla(174, 45%, 35%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#56AB99", endColorstr="#31827A", GradientType=1 );
}

.grid-nine {
    margin-top: 3%;
    margin-bottom: 1%;
    background: hsla(36, 100%, 70%, 1);
    background: linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFC266", endColorstr="#FDAE44", GradientType=1 );
}

.arowone {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    width: 100%;
    height: 50%;
}

.arowtwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    width: 100%;
    height: 50%;
}

.grid-nine > div {
    font-size: calc(var(--fh4) - 10%);
}

.tcan, .print, .tres, .tdel, .restore, .mainmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: var(--cwhite);
    border-radius: var(--button-radius);
    background: hsla(36, 100%, 70%, 1);
    background: linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(36, 100%, 70%, 1) 0%, hsla(34, 98%, 63%, 1) 100%);
}